html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  width: 100%;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
h1,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
header {
  display: flex;
  margin: 3em 0 0.5em 0;
}
header nav {
  display: flex;
  flex-direction: row;
}
header nav a {
  font-size: 1.8em;
  color: grey;
  text-decoration: none;
  padding: 0 0.1em;
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1em;
    padding: 0;
  }
}
header nav a:hover {
  color: #4d4343;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70vh;
  padding: 0 0 1vh 0;
  border-bottom: 1px solid gray;
}
.title-container .inside-title {
  width: 80%;
  height: 60vh;
  background: url("../assets/home.png");
  opacity: 0.8;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title-container .inside-title h1 {
  color: white;
  font-size: 4em;
  border: 20px;
}
.title-container .inside-title button {
  width: 10em;
  height: 3em;
  box-shadow: grey solid 1em;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .title-container .inside-title button {
    width: 7em;
    height: 1.7em;
    box-shadow: grey solid 1em;
    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .title-container .inside-title {
    width: 100%;
    height: 30vh;
  }
  .title-container .inside-title h1 {
    font-size: 2em;
  }
}
@media (max-width: 500px) {
  .title-container {
    width: 100%;
    height: 40vh;
    padding: 0;
  }
}
.artists-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}
.artists-container .artist {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.artists-container .artist img {
  height: 30vh;
  border-radius: 5px;
}
.artists-container .artist a {
  text-decoration: none;
  size: 4em;
  color: grey;
  margin: 1em;
}
.artists-container .artist .bio {
  width: 90%;
}
@media (max-width: 500px) {
  .artists-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .artists-container .artist {
    width: 70%;
    margin: 1em 0;
  }
  .artists-container .artist img {
    height: 15vh;
  }
}
.cta {
  height: 30vh;
}
