.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84%;
    height: 70vh;
    padding: 0 0 1vh 0;
    border-bottom: 3px solid gray;
    // margin: 0 0 2em 0; 
    .inside-title{
        width: 80%;
        height: 60vh;
        background: @bg-img;
        background-size: 100% auto;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h1{
            display: flex;
            color: white;
            font-size: 4em;
            border: 20px;
        } //close h

    } // close inside-title

    // button{
    //     // display: flex;
    //     // justify-content: center;
    // }
} //close title-container


.artists-container{
    width: 60%;
    display: flex;
    margin: 10px 0 0 0; 

    .artist{
        width: 50%;
        display: flex;
        flex-wrap: wrap;

    }
    img{
        // width: 40%;
        height: 300px;
    }

} //close artists-container