
header {    
    display: flex;
    margin: 3em 0 1.5em 0;
    // width: 90%;

    nav{
        display: flex;
        flex-direction: row;
        a{
            .navigation-a();
                              
        } //close a
    } //close nav
} //close header